/* Yuki Kokubun (2011 UEC Tokyo Japan, Takada.Lab) <uec.takada.lab@hotmail.com> */
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'LucidaGrande', sans-serif;
}

div#init-disp {
	display: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url(../img/Background-stripe.png);
	z-index: 150;
}

div#init-disp div.admin {
	background: hsla(0, 0%, 0%, 0.3) url(../img/I_heart_validator.png) no-repeat 97% 97%;
	margin: 0 10px;
	padding: 0.5em;
	border-radius: 10px;
}

div#init-disp button {
	opacity: 0.2;
	margin: 1em auto;
}

div#init-disp button#init-auth {
	opacity: 1;
	margin: 1.7em auto;
}

div#init-disp span {
	color: hsl(222, 8.6%, 100%);
	text-shadow: 0 -1px 0 hsla(222, 8.6%, 0%, 0.5);
	line-height: 2.5em;
}

textarea#init-import-input {
	opacity: 0.2;
	-webkit-user-select: auto;
	height: 3em;
}

div#sia-buttons {
	display: -webkit-box;
	position: absolute;
	-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
}

div.indicator-background {
	display: -webkit-box;
	overflow: hidden;
	height: 8px;
	padding: 1px;
	-webkit-background-clip: border;
	background: hsl(0, 0%, 0%);
}

div.indicator {
	height: 100%;
	-webkit-box-flex: 1.0;
	margin: 0 0.5px;
	overflow: hidden;
	background-image: -webkit-gradient(linear, center top, center bottom, 
		from(hsla(0, 0%, 50%, 1)),
		color-stop(0.5, hsla(0, 0%, 30%, 1)),
		color-stop(0.5, hsla(0, 0%, 20%, 1)),
		to(hsla(0, 0%, 30%, 1))
	);
}

div.indicator-active {
	background-image: -webkit-gradient(linear, center top, center bottom, 
		from(hsla(0, 0%, 100%, 1)),
		color-stop(0.5, hsla(0, 0%, 60%, 1)),
		color-stop(0.5, hsla(0, 0%, 50%, 1)),
		to(hsla(0, 0%, 60%, 1))
	);
}

div.sia-button-row {
	display: -webkit-box;
	-webkit-box-flex: 1.0;
}

div.sia-button-row > div:first-child {
	border-left: none;
}

div.sia-button-row-2x {
	-webkit-box-flex: 3.0;
}

div.sia-button, div.sia-func-button {
	cursor: pointer;
	display: -webkit-box;
	-webkit-box-flex: 1.0;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	font-family: 'Helvetica';
}

div.sia-button {
	border-top: 1px solid hsla(222, 0%, 100%, 0.5);
	border-bottom: 1px solid hsla(222, 0%, 0%, 0.5);
	border-left: 1px solid hsla(222, 0%, 0%, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(hsl(219, 8.2%, 47.5%)), to(hsl(222, 12.1%, 34.5%)));
	color: hsl(222, 8.6%, 100%);
	text-shadow: 0 -1px 0 hsla(222, 8.6%, 0%, 0.5);
}

div.sia-func-button {
	border-top: 1px solid hsla(222, 8.6%, 100%, 0.5);
	border-bottom: 1px solid hsla(222, 0%, 0%, 0.5);
	border-left: 1px solid hsla(222, 0%, 0%, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(hsl(219, 6.7%, 88.2%)), to(hsl(222, 7.8%, 72.9%)));
	color: hsl(222, 8.6%, 22.4%);
	text-shadow: 0 1px 0 hsla(222, 8.6%, 100%, 0.5);
}

div.sia-button-active {
	border-top: 1px solid hsla(222, 8.6%, 100%, 0.5);
	border-bottom: 1px solid hsla(222, 0%, 0%, 0.5);
	border-left: 1px solid hsla(222, 0%, 0%, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(hsl(219, 6.7%, 88.2%)), to(hsl(222, 7.8%, 72.9%)));
	color: hsl(222, 8.6%, 22.4%);
	text-shadow: 0 1px 0 hsla(222, 8.6%, 100%, 0.5);
}

div.sia-func-button-active {
	border-top: 1px solid hsla(222, 0%, 100%, 0.5);
	border-bottom: 1px solid hsla(222, 0%, 0%, 0.5);
	border-left: 1px solid hsla(222, 0%, 0%, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(hsl(219, 8.2%, 47.5%)), to(hsl(222, 12.1%, 34.5%)));
	color: hsl(222, 8.6%, 100%);
	text-shadow: 0 -1px 0 hsla(222, 8.6%, 0%, 0.5);
}

div#sia-button-NONE {
	cursor: default;
	color: hsla(222, 8.6%, 22.4%, 0.2);
	text-shadow: 0 1px 0 hsla(222, 8.6%, 100%, 0.1);
	font-size: 65%;
}

div.sia-button-char {
	font-size: 200%;
	width: 70px;
	max-width: 100%;
	text-align: center;
}

div.w3c {
	font-family: 'Georgia-Bold';
	width: 40px;
}

div.html5 {
	width: 30px;
}
